<div class="panel panel-primary">
  <div class="panel-body">
    <strong>Поиск:</strong> УЗИ почек, Первичная консультация кардиолога
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="widget-list widget-list-rounded m-b-30" data-id="widget">
      <div class="widget-list-item">
        <div class="widget-list-media icon">
          <span class="badge bg-lime"><span style="font-size:1.3em">2/2</span></span>
        </div>
        <div class="widget-list-content">
          <h4 class="widget-list-title">Городская больница №6</h4>
          <p class="widget-list-desc">ул. Ленина, 28</p>
          <p class="widget-list-desc">
            <span class="text-muted"> УЗИ почек, Первичная консультация кардиолога</span>
          </p>
        </div>
        <div class="widget-list-action text-right">
          <i class="fa fa-angle-right fa-lg text-muted"></i>
        </div>
      </div>
      <div class="widget-list-item">
        <div class="widget-list-media icon">
          <span class="badge bg-yellow"><span style="font-size:1.3em">1/2</span></span>
        </div>
        <div class="widget-list-content">
          <h4 class="widget-list-title">Психоневрологический диспансер </h4>
          <p class="widget-list-desc">ул. Зоологическая, 19</p>
          <p class="widget-list-desc">
            <span class="text-muted"> УЗИ почек</span>
          </p>
        </div>
        <div class="widget-list-action text-right">
          <i class="fa fa-angle-right fa-lg text-muted"></i>
        </div>
      </div>
    </div>
  </div>
</div>
