<div class="panel panel-primary">
  <div class="panel-body">
    <strong>Поиск:</strong> УЗИ почек, Первичная консультация кардиолога
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <span class="checkbox checkbox-css m-r-10">
      <input type="checkbox" id="omsOnly" value="">
      <label for="omsOnly">Только ОМС</label>
    </span>

    <span class="checkbox checkbox-css m-r-15">
      <input type="checkbox" id="payedOnly" value="">
      <label for="payedOnly">Только платные</label>
    </span>

    <strong>Сортировать по:</strong>
    <a href="javascript:;" (click)="sortBy(1)" [ngClass]="{'f-w-700':sortOrder === 1}" class="m-l-5">Числу совпадений</a>
    <a href="javascript:;" (click)="sortBy(2)" [ngClass]="{'f-w-700':sortOrder === 2}" class="active m-l-5">Цене</a>
    <a href="javascript:;" (click)="sortBy(3)" [ngClass]="{'f-w-700':sortOrder === 3}" class="m-l-5">Расстоянию</a>
  </div>
  <span>
  </span>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="widget-list widget-list-rounded m-b-30" data-id="widget">
      <div class="widget-list-item" *ngFor="let item of organizations">
        <div class="widget-list-media icon">
          <span class="badge bg-lime" [ngClass]="{'bg-yellow':!item.length < services.length, 'bg-lime':item.length === services.length}">
            <span style="font-size:1.3em">
              <span [innerHtml]="item.length"></span>/<span [innerHTML]="services.length"></span>
            </span>
          </span>
        </div>
        <div class="widget-list-content">
          <h4 class="widget-list-title" [innerHtml]="item.name"></h4>
          <p class="widget-list-desc" [innerHtml]="item.address"></p>
          <div class="widget-list-desc">
            <div class="input-group  m-b-3" *ngFor="let service of item.services">
              <span class="checkbox checkbox-css">
                <input type="checkbox" id="service{{service.id}}" [checked]="checked(service)" (click)="check(service)">
                <label for="service{{service.id}}"><span [innerHtml]="service.name"></span> - <span [innerHTML]="service.displayedPrice"></span></label>
              </span>
            </div>
          </div>


        </div>

        <div class="widget-list-media icon">
          <span class="badge " [ngClass]="{'bg-yellow':!item.close, 'bg-lime':item.close}">
            <span style="font-size:1.3em" [innerHTML]="item.displayedDistance">3км</span>
          </span>
        </div>

        <div class="widget-list-action text-right">
          <h4 class="widget-list-title" [innerHtml]="item.displayedPrice"></h4>
          <p class="widget-list-desc text-muted" [innerHtml]="item.totalFor"></p>
        </div>
      </div>
      <!--<div class="widget-list-item">
        <div class="widget-list-media icon">
          <span class="badge bg-yellow"><span style="font-size:1.3em">1/2</span></span>
        </div>
        <div class="widget-list-content">
          <h4 class="widget-list-title">Психоневрологический диспансер </h4>
          <p class="widget-list-desc">ул. Зоологическая, 19</p>
          <div class="widget-list-desc">
            <div class="input-group m-b-3">
              <span class="checkbox checkbox-css">
                <input type="checkbox" id="service3" value="">
                <label for="service3">УЗИ почек - 1100₽</label>
              </span>
            </div>
          </div>
        </div>

        <div class="widget-list-media icon">
          <span class="badge bg-lime"><span style="font-size:1.3em">>1 км</span></span>
        </div>

        <div class="widget-list-action text-right">
          <h4 class="widget-list-title">1100₽ </h4>
          <p class="widget-list-desc text-muted">за&nbsp;1&nbsp;услугу</p>
        </div>
      </div>-->
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body text-center">
    <button class="btn btn-default m-r-10" type="button" (click)="clear()">
      Сбросить
    </button>

    <button class="btn btn-primary m-r-10" type="button" (click)="next()" [disabled]="disabled">
      Далее
    </button>
  </div>
</div>

