:host {
  ul {
    padding: 0;

    li {
      list-style-type: none;
    }

    li {
      &.category {
        padding: 5px;
      }
    }
  }

  ::ng-deep {
    .card-header {
      padding: 0;

      button {
        padding: 10px;
        display: block;
        text-align: left;

        &:focus, &:hover {
          text-decoration: none;

          span::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
