<form #form="ngForm">
  <div class="input-group" [ngClass]="{'has-error': (nameInput.dirty || submitted) && nameInput.invalid}">
    <div>
      <label class="control-label">
        Название
      </label>
    </div>
    <div>
      <input class="input-control"
             #nameInput="ngModel"
             [ngClass]="{'is-invalid': (nameInput.dirty || slotEditorSubmitted) && nameInput.invalid}"
             [(ngModel)]="model.name"
             [required]="true"
             name="name" />
    </div>

  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="save()">
      Сохранить
    </button>
    <button type="button" class="btn btn-white" (click)="cancel()">
      Отменить
    </button>
  </div>
</form>
