:host {
  display: grid;
  grid-template-columns: 200px 1fr;

  ::ng-deep {
    .input-group {
      display: grid;
      grid-template-columns: 200px 1fr;
      margin: 10px;

      & > div {
        padding: 6px;
      }

      input {
        width: 100%;
        border: 1px solid #cecece;
        padding: 2px;
      }

      &.has-error {
        label {
          color: red;
        }

        input {
          border-color: red;
        }
      }
    }
  }
}
