<div class="menu">
  <div class="list-group">
    <a class="list-group-item list-group-item-action"
       [routerLink]='["/admin/organizations"]'
       [routerLinkActive]='["link-active"]'
       [routerLinkActiveOptions]='{ exact: true }'>
      Организации
    </a>
    <a class="list-group-item list-group-item-action"
       [routerLink]='["/admin/services"]'
       [routerLinkActive]='["link-active"]'
       [routerLinkActiveOptions]='{ exact: true }'>
      Услуги
    </a>
  </div>
</div>
<div class="inner-content">
  <router-outlet></router-outlet>
</div>
