<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="panel panel-primary">

      <div class="panel-body">
        <h4>Выбранные услуги:</h4>
        <table class="table">
          <thead>
            <tr>
              <th>
                Услуга
              </th>
              <th>
                Стоиомость
              </th>
              <th>
                Организация
              </th>
            </tr>
          </thead>


          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>
                {{item.name}}
              </td>
              <td>
                {{item.price}} р.
              </td>
              <td>
                {{item.company}} р.

                <div style="color: gray" class="stats-desc">{{item.address}}</div>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-body">
        <h4>Данные пациента:</h4>
        <form>
          <div class="form-group row m-b-15">
            <input class="form-control" name="firstName" [(ngModel)]="firstName" placeholder="Имя">
          </div>
          <div class="form-group row m-b-15">
            <input class="form-control" name="lastName" [(ngModel)]="lastName" placeholder="Фамилия">
          </div>
          <div class="form-group row m-b-15">
            <input class="form-control" name="phone" [(ngModel)]="phone" placeholder="Номер телефона">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-body text-center">
        <button class="btn btn-default m-r-10" type="button" (click)="goBack()">
          Назад
        </button>
        <button (click)="submit()"
                class="btn btn-primary m-r-5">
          Отправить заявку
        </button>

      </div>
    </div>
  </div>
</div>

