<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="panel panel-primary">

      <div class="panel-body">
        <h4>Выбранные услуги:</h4>
        <table class="table">
          <th>
            Услуга
          </th>
          <th>
            Стоимость
          </th>
          <th>
            Организация
          </th>
          <tbody>
          <tr>
            <td>
              УЗИ почек
            </td>
            <td>
              1400 р.
            </td>
            <td>
              Городская больница №4 города Ростова-на-Дону
              <div style="color: gray" class="stats-desc">Ростов-на-Дону, проспект Стачки, д. 226</div>
            </td>
          </tr>
          <tr>
            <td>
              Кардиограмма
            </td>
            <td>
              1200 р.
            </td>
            <td>
              Медицинский центр «Меридиан»
              <div style="color: gray" class="stats-desc">Ростов-на-Дону,пр.40-летия Победы, 316</div>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h4>Данные пациента:</h4>
          <form>
            <div class="form-group row m-b-15">
              <input class="form-control" name="firstName" ngModel placeholder="Имя">
            </div>
            <div class="form-group row m-b-15">
              <input class="form-control" name="lastName" ngModel placeholder="Фамилия">
            </div>
            <div class="form-group row m-b-15">
              <input class="form-control" name="phone" ngModel placeholder="Номер телефона">
            </div>
            <div class="form-group row m-b-15">
              <input class="form-control" name="email" ngModel placeholder="Email">
            </div>
            <div class="form-group row m-b-15 ">
              <button type="submit" class="btn btn-sm btn-primary m-r-5">Отправить заявку</button>
            </div>
          </form>
          <div>
          </div>

        </div>
      </div>
    </div>

</div>


