<!-- begin #header -->
<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <a href="/" class="navbar-brand">Геомед</a>
  </div>
  <!-- end navbar-header -->
  <!-- begin header-nav -->
  <ul class="navbar-nav navbar-right">

    <li *ngIf="isAuthenticated()" class="dropdown navbar-user" ngbDropdown>
      <a href="javascript:;" class="dropdown-toggle" ngbDropdownToggle>
        <img src="/assets/img/user.jpg" alt="" />
        <span class="d-none d-md-inline">Администрирование</span> <b class="caret"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item"
           [routerLink]='["/admin/organizations"]'>
          Организации
        </a>
        <a class="dropdown-item"
           [routerLink]='["/admin/services"]'>
          Услуги
        </a>

      </div>
    </li>
    <li *ngIf="!isAuthenticated()" class="dropdown navbar-user" ngbDropdown>
      <a [routerLink]="['/login']">
        <img src="/assets/img/user.jpg" alt="" />
        <span class="d-none d-md-inline">Вход</span> <b class="caret"></b>
      </a>
    </li>

  </ul>
  <!-- end header navigation right -->
</div>
<!-- end #header -->
